body {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 400px;
}

.btn {
    background-color: white;
    color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 5px 20px;
    font-weight: bold;
    min-width: 80px;
}

.btn:hover {
    border: 1px solid gray;
    background-color: black;
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

input {
    padding: 8px;
    margin: 10px;
    min-width: 220px;
    font-size: 14px;
}

h1 {
    text-align: center;
}

.text-center {
    text-align: center;
}

.green {
    color: green;
}

.red-alert {
    color: red;
}

.yellow {
    color: darkgoldenrod;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-marg {
    margin-top: 20px;
}

.home_bg {
    background-image: url(High_resolution.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 450px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-height: 400px;
        ;
    }
}